# Clears terminal output
alias c="clear"
alias cl="clear"
alias cls="clear"

# Easier cd up one directory
alias ..="cd ../"

# Easier cd up two directories
alias ...="cd ../../"

# Easier cd to home
alias home="cd ~"

# Easier cd to work
alias work="cd ~/Dropbox/Work/"

# Easier cd to downloads
alias dl="cd ~/Downloads"

#Easier git stuff
alias s="git status"
alias gs="git status"

alias p="git push"
alias gp="git push"

# Remap grep to always use color option
alias grep="grep --color=auto"