
# Easier cd up one directory
alias ..="cd ../"

# Easier cd up two directories
alias ...="cd ../../"

# Easier cd to home
alias home="cd ~"

# Easier cd to work
alias work="cd ~/Dropbox/Work/"

# Easier cd to downloads
alias dl="cd ~/Downloads"