# Make a directory and cd into it
function mkcd {
    mkdir $1
    cd $1
}

# Start HTTP server in the current directory
function server {
    python -m SimpleHTTPServer 8000
}

# Move stuff to Trash rather than deleting it
function trash {
    mv "$@" ~/.Trash
}

# Shut down the computer
function shutdown {
    sudo shutdown now "Shutting down"
}

# Restart the computer
function restart {
    sudo shutdown -r now "Rebooting"
}

# Restart camera process
function fixcamera {
    sudo killall VDCAssistant
}