# Make a directory and cd into it
function mkcd {
    mkdir $1
    cd $1
}

# Move stuff to Trash rather than deleting it
function trash {
    mv "$@" ~/.Trash
}

# Restart camera process
function fixcamera {
    sudo killall VDCAssistant
}

# Get macOS Software Updates, update Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g;'
